@charset "UTF-8";
:root {
	--background: rgba(22, 22, 22, .18)
}
body{
	margin: 0;
	background-color: black;
	font-family: 'Poppins', sans-serif;
	letter-spacing: .2rem
}
nav ul {
	margin: 0;
	padding-top: 2em;
	padding-right: 0;
	list-style: none;
	
}

.hectorasv a {
	text-decoration: none;
	color: #A0F604;
}


nav li {
	margin-bottom: 1em;
	margin-right: 1em;
}
nav a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	padding-right: 2.2em;
	text-transform: uppercase;
}
.todo{
	position:relative;
	width: 100%;
	height: auto;
	
}
.mob{
	display: none;
}
.navig{
	background: var(--background);
	text-align: center;
	position: absolute;
	top: 0px;
	width: 100%;
	}
.nav-list{
	background: var(--background);
	text-align: right;
	position: absolute;
	top: 49px;
	width: 100%;
	height: 200px;
	opacity: 0;
	transition: all 1.5s ease-in-out;

	}

.change .nav-list{
	opacity: 1;
}

.hamburger-menu{
	width: 28px;
	height: 24px;
	position: fixed;
	top: 3px;
	right: 20px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 2222;
}
.line {
	width: 100%;
	height: 2px;
	background-color: white;
	transition: all 0.8s;
}
.change .line-1 {
	transform: rotateZ(45deg) translate(6px, 5px);
}
.change .line-2 {
	opacity: 0;
}
.change .line-3 {
	transform: rotateZ(-45deg) translate(6px, -5px);
}


nav a:hover {
	color:#636262
}
h1 {
	color: white;
	text-align: left;
	margin: 0;
	padding-top: 10px;
	padding-left: 20px;
	font-size: 1.6rem;
}

p {
	position: absolute;
	right: 0;
	top: 0;
	color: white;
	text-align: right;
	text-transform: uppercase;
	margin: 0;
	padding-top: 12px;
	padding-right: 58px;
	font-size: 1.4rem;
	letter-spacing: 0.03rem;
}
.hectorasv{
	color: #A0F604;
	text-decoration: none;
}

.slider-1{
	display: block;
	position: absolute;
	width: 100%;
	height: auto;
	overflow: hidden;
}


@media (max-width: 432px) {
	
	h1 {
	text-align: left;
	font-size: 1.5rem;
	letter-spacing: .05rem;
	}	
		p {
			display: none;
		}
	
	.hamburger-menu{
	
	right: 64px;
}

	
.slider-1{
	display: none;
}
	
	.mob{
	display: block;
	position: absolute;
	width: 100%;
	height: auto;
	overflow: hidden;
}	

}