.hector {
	text-align: left;
	margin: 0;
	padding-top: 10px;
	padding-left: 20px;
	font-size: 1.6rem;
    color: #A0F604;
    float:left;
}

p{
    color: white;
	text-align: right;
	text-transform: uppercase;
    font-size: 1.4rem;
	letter-spacing: 0.03rem;
    margin-right: 15px;
    float:right;
    margin-bottom: 0px;
    margin-top: 10px;
}

body{
	background-color: black;
	font-family: 'Poppins', sans-serif;
	letter-spacing: .2rem;
}

h1:hover {
    cursor:pointer;
}

p:hover {
    cursor:pointer;
}

.center {
    text-align: center;
    vertical-align: center;
    margin:auto;
    width: 90%;
    margin-left: 120px;
    height: auto;
}

article{
    float:left;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 1px;
    width: 400px;
    transition: transform .8s;
}

img{
    width: 100%;
}


li {
    color: white;
	text-align: right;
	text-transform: uppercase;
    font-size: 1.4rem;
	letter-spacing: 0.03rem;
    margin-right: 15px;
    float:right;
    list-style: none;
}

nav a:hover {
    color: #636262;
}
article:hover{
    transform: scale(1.04);
}

a{
    text-decoration: none;
}
nav a{
    text-decoration: none;
    color: white;
}

.navbar{
    width: 170px;
    float:right;
    margin-top: 0px;
    margin-right: 0px;
   position: relative;
}

.papa{
    width: 100%;
    height: 170px;

}

.padre1{
    width: 100%;
    height: 60px;

}

.title{
font-size: 25px;
color:white;
float:left;
margin-top: 130px;
margin-right: 0px;
margin-bottom: 0px;
padding-top: 0px;
position: relative;
margin-left: 125px;

}

.render{
    color: #636262;
}
.render:hover{
    cursor:context-menu;
}
.fade-menu-in {
    -webkit-animation-name: fade-menu-in;
    -webkit-animation-duration: 0.8s;
    animation-name: fade-menu-in;
    animation-duration: 0.8s;
  }
  
  @-webkit-keyframes fade-menu-in {
    from {opacity: .01}
    to {opacity: 1}
  }
  
  @keyframes fade-menu-in {
    0% {opacity: .01}
    100% {opacity: 1}
  }
  
  nav-items{
    opacity: 0;
  }
  
  .fade-menu-out {
    -webkit-animation-name: fade-menu-out;
    -webkit-animation-duration: 0.8s;
    animation-name: fade-menu-out;
    animation-duration: 0.8s;
  }
  
  @-webkit-keyframes fade-menu-out {
    0% {opacity: 1}
    100% {opacity: 0}
  }
  
  @keyframes fade-menu-out {
    0% {opacity: 1}
    100% {opacity: 0}
  }

@media (max-width: 480px) {

    .center {
        margin-left: 0px; 
        border-left: 0px;  
        padding-left: 0px;
        width: 100%;
     }
     article {
         margin-left: 0px;
         border-left: 0px;  
         padding-left: 0px;
         
     }
     .title{
         font-size: 0px;
        /* margin-top: 50px;*/
     }
     p{
         margin-right: 30px;
     }
     h1{
         margin-right: -10px;
     }

}